
<div class="vpad--xxxl bg--img" style="background-image: url({{site.img}}/content/promo-competition.jpg);">
  <div class="container text--white text--center">

    <h2 class="title title--xl title--display text--bold">Win a New Year’s escape to Berlin!</h2>
    <div class="space--xs"></div>

    <hr class="hr--center">

    <div class="container container--xl">
      <p class="text--lg text--bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/competition/" class="btn btn--primary">Enter now</a>
    </div>
  </div>
</div>

