
<div class="vpad--xxxxl bg--img" style="background-image: url({{site.img}}/img.jpg);">
  <div class="container container--xxl text--white text--center">
    <h2 class="title title--lg text--normal">Remember to open today's advent calendar!</h2>
    <div class="space--xs">
      <h4 class="title title--xxs text--upper text--normal text--wide-kern">Embrace the Christmas spirit and win!</h4>
    </div>
    <div class="space--sm"></div>
    <hr class="hr--center">
    <p class="text--lg text--normal">Open today's door in the advent calendar for an extra entry in our Christmas competition!</p>
    <div class="space--sm">
      <a href="{{site.baseurl}}/advent-calendar/" class="btn btn--primary">Enter now</a>
    </div>
  </div>
</div>

