---
layout: advent
id: advent-calendar
title: Advent Calendar
nav: true
nav-order: 3

banner:
  content: >
    <h1 class="banner-title">Advent Calendar</h1>
    <div class="space--lg"></div>
    <div class="container container--xl">
      <p class="text--xxl text--medium">Everyday we’ll reveal a new, unmissable experience that a winter in Germany can offer. Come back each day to discover an inspiring idea for your winter holidays.</p>
    </div>

days:
  - id: day-1
    num: 1

  - id: day-2
    num: 2

  - id: day-3
    num: 3

  - id: day-4
    num: 4

  - id: day-5
    num: 5

  - id: day-6
    num: 6

  - id: day-7
    num: 7

  - id: day-8
    num: 8

  - id: day-9
    num: 9

  - id: day-10
    num: 10

  - id: day-11
    num: 11

  - id: day-12
    num: 12

  - id: day-13
    num: 13

  - id: day-14
    num: 14

  - id: day-15
    num: 15

  - id: day-16
    num: 16

  - id: day-17
    num: 17

  - id: day-18
    num: 18

  - id: day-19
    num: 19

  - id: day-20
    num: 20

  - id: day-21
    num: 21

  - id: day-22
    num: 22

  - id: day-23
    num: 23

  - id: day-24
    num: 24

  - id: day-25
    num: 25


---



<div class="container container--100">
  <div class="advent__calendar row row--gutters-xs">
    {% for day in page.days %}
      {% assign third = forloop.index | modulo: 3 %}

      {% if third == 1 %}
        <div class="col col--3 col--lg-4 col--xxxl-4">
          {% include page/advent-day-large.html %}
        </div>
      {% else %}
        <div class="col col--3 col--lg-4 col--xxxl-2">
          {% include page/advent-day.html %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
</div>
<div class="space--xxxl"></div>


