
<div class="{{include.block}}">

  {% if page.region == 'uk' %}
    {% for item in site.uk.core-nav %}
      <a class="{{include.block}}-link" href="{{item.link}}">{{item.title}}</a>
    {% endfor %}
    <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.uk.site-title }}</a>

  {% elsif page.region == 'nl' %}
    {% for item in site.nl.core-nav %}
      <a class="{{include.block}}-link" href="{{item.link}}">{{item.title}}</a>
    {% endfor %}
    <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.nl.site-title }}</a>

  {% elsif page.region == 'be' %}
    {% for item in site.be.core-nav %}
      <a class="{{include.block}}-link" href="{{item.link}}">{{item.title}}</a>
    {% endfor %}
    <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.be.site-title }}</a>

  {% endif %}

</div>
