<!-- Text only modal - e.g. terms and conditions -->
<div class="container container--xl container--no-padding modal__content modal-text bg--white">

  <div class="boxpad--md text--center">
    <span class="title title--xxs text--upper text--bold text--wide-kern">Day {{item.day}}</span>
  </div>

  <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/img.jpg);"></div>

  <div class="boxpad--xl text--center">
    <h2 class="title title--display title--md">{{item.title}}</h2>
    <hr class="hr--center">
    <p class="text--xl text--medium">{{item.content}}</p>
  </div>

  <!-- <div class="boxpad--xl text--center bg--grey-lightest">
    <h3 class="title title--xxs title--display text--bold text--upper">Win the ultimate German winter getaway!</h3>
    <div class="space--xxs"></div>
    <p>Click below for your daily entry into our competition</p>
    <div class="space--sm"></div>
    <a href="{{site.baseurl}}/competition" class="btn btn--solid">Enter now</a>
  </div> -->

</div>
