
{% if page.region == 'uk' %}
  {% assign link = site.uk.client-link %}
{% elsif page.region == 'nl' %}
  {% assign link = site.nl.client-link %}
{% elsif page.region == 'be' %}
  {% assign link = site.be.client-link %}
{% endif %}

<a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{link}}" target="_blank">
  <img src="{{site.img}}/logo/partner-{{page.region}}.png" alt="{{site.client.name}} Logo">
</a>