// general styles for the project that wouldn't be a reuseable component


// Fixed background image: overview & advent calendar
.page-bg {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  top: 0; left: 0;
  right: 0; bottom: 0;
  @include background-attributes;
  &__overlay {
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    z-index: 0;
    background-color: $grey-darkest;
    opacity: 0.9;
  }
}


// Fancy border styling for boxes
.border {
  &--inset {
    position: relative;
    border: 1px solid rgba($white,1);
    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      border: 5px solid rgba($white,0.3);
      top: 0; left: 0; bottom: 0; right: 0;
    }
  }
  &--double {
    position: relative;
    border: 1px solid rgba($white,1);
    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      border: 1px solid rgba($white,0.5);
      top: 2px; left: 2px; bottom: 2px; right: 2px;
    }
  }
  &--triple {
    position: relative;
    border: 1px solid rgba($white,1);
    &:after, &:before {
      content: "";
      pointer-events: none;
      @include transition;
      position: absolute;
      border: 1px solid rgba($white,0.5);
    }
    &:after { top: -4px; left: 2px; bottom: -4px; right: 2px; }
    &:before { top: 2px; left: -4px; bottom: 2px; right: -4px; }
  }
}



// Page intro box : top offset to overlap banner
.page-intro {
  position: relative;
  z-index: 1;
  background-color: $white;
  padding: $s6 $s2;
  @include bp($xl){
    padding: $s8 $s2;
    margin-top: -$s6;
    box-shadow: 0 5px $s6 0 rgba($grey-darkest,0.1);
  }
}



/* ====  OVERVIEW PAGE  ====
----------------------------*/
.overview {
  &__banner {
    padding: $s14 0;
    & .banner-title { text-shadow: 3px 6px 30px rgba($grey-darkest,0.5); }
  }

  &__tile {
    @include transition;
    @include background-attributes;
    position: relative;width: 100%;
    box-shadow: 0 5px $s6 0 rgba($grey-darkest,0.5);
    transform: scale(1);
    height: 180px;
    &:hover { transform: scale(1.02); }
    &.advent { min-height: 300px; }
    @include bp($md){ height: 300px; }
    @include bp($xl){
      height: 400px;
      &.advent { min-height: 400px; }
    }
    @include bp($xxxl){
      height: 500px;
      &.advent { min-height: 500px; }
    }
  }
}
.advent-message {
  display: block;
  &.is-inactive { display: none; }
}
.advent-countdown {
  display: block;
  &.is-inactive { display: none; }
  &__box {
    margin-top: $s2;
    padding: $s0;
    border: 1px solid rgba($white,0.5);
    box-shadow: 0 0 30px 0 rgba($black,0.6);
  }
}



/* ====  ADVENT PAGE  ====
----------------------------*/

.advent__banner { padding: $s14 0; }

.advent {

  &__calendar {
    max-width: $xxxl;
    margin: auto;
  }

  &-day {
    @include transition;
    text-align: center;
    color: $white;
    background-color: $b-purple;
    height: 240px;
    align-items: center;
    display: flex;
    flex-direction: row;
    transform: scale(1);
    box-shadow: 0 0 10px 5px rgba($black,0.2);
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 30px 10px rgba($black,0.4);
    }
    &__link {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 10;
    }

    &__num {
      margin-top: -20%;
      font-family: $font-title-display;
      font-style: italic;
      font-size: 6rem;
      text-shadow: 2px 2px rgba($white,0.1);
      @include bp($xxxl){
        &--lg { margin-top: -12.5%; font-size: 9rem; }
      }
    }

    &__image {
      @include background-attributes;
      @include transition;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      z-index: -1;
      opacity: 0.1;
    }
    &:hover &__image { opacity: 0.3; }

    &--inactive {
      color: $grey-darkest;
      background-color: $grey-darker;
      pointer-events: none;
      &:hover {
        transform: scale(1);
      }
    }
    &--inactive &__image { display: none; }

    &--today {
      color: $white;
      background-color: $b-gold;
    }
  }
}