---
layout: default
---


<div class="bg--white">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>


<div class="container container--100 container--no-padding">
  <div class="row row--constant-4-4-4 row--no-gutters">

    <div class="col">
      <div class="bg-img bg-img--3-4 bg-img--xl-1-1" style="background-image: url({{site.img}}/content/competition/01.jpg);"></div>
    </div>

    <div class="col">
      <div class="bg-img bg-img--3-4 bg-img--xl-1-1" style="background-image: url({{site.img}}/content/competition/02.jpg);"></div>
    </div>

    <div class="col">
      <div class="bg-img bg-img--3-4 bg-img--xl-1-1" style="background-image: url({{site.img}}/content/competition/03.jpg);"></div>
    </div>

  </div>
</div>



<div class="bg--grey-lightest vpad--xxl">
  <div class="container container--xxl text--center">
    <iframe src="{{page.strutta-link}}" width="100%" height="640"></iframe>
  </div>
</div>


