---
layout: default
---



<div class="bg--grey-lightest">

  <div class="container">
    <div class="page-intro container text--center">
      <div class="container container--xxl">
        {{page.intro}}
      </div>
    </div>
  </div>



  <!-- Topics -->
  {% if page.topics %}
  <div class="vpad--xl">
    <div class="container">
      {% for topic in page.topics %}
      <div class="wp" id="{{section.id}}"></div>

      <div class="bob {% cycle '', 'bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/{{topic.id}}.jpg);">
            {% if topic.image-credit %}
              <div class="bg-img__credit">{{topic.image-credit}}</div>
            {% endif %}
          </div>
        </div>
        <div class="bob__text">
          <h2 class="title title--sm text--medium">{{topic.title}}</h2>
          {{topic.content}}
        </div>
      </div>
      <div class="space--xl"></div>
      {% endfor %}
    </div>
  </div>

</div><!-- end .bg-grey-lightest -->

  {% if page.sections %}
  <!-- Content sections -->
  <div class="bg--white vpad--xxl">
  {% endif %}

{% endif %}




{% if page.sections %}
  <div class="container">

    {% for section in page.sections %}
      <div class="wp" id="{{section.id}}"></div>

      {% if section.title or section.content %}
      <div class="container container--xl text--center">
        <h2 class="title title--xl title--display">{{section.title}}</h2>
        <hr class="hr--center">
        <p class="text--lg">{{section.content}}</p>
      </div>
      <div class="space--xl"></div>
      {% endif %}

      <!-- Highlights -->
      <div class="row">
        {% for highlight in section.highlights %}
          <div class="col col--4">
            <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/highlights/{{highlight.id}}.jpg);">
              {% if highlight.image-credit %}
                <div class="bg-img__credit">{{highlight.image-credit}}</div>
              {% endif %}
            </div>
            <div class="space--sm">
              <h4 class="title title--xxs text--medium">{{highlight.title}}</h4>
              <p>{{highlight.content}}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="space--xxl"></div>
    {% endfor %}

    {% if page.external-link %}
    <div class="container text--center">
      <a href="{{page.external-link}}" id="tracking-external-link-{{page.id}}" target="_blank" class="btn btn--primary">Read more about {{page.title}}</a>
    </div>
    {% endif %}

  </div>

</div>
{% endif %}



{% include page/promo-competition.html %}

