---
layout: default
---


<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
</div>


<div class="vpad--xxxl bg--grey-lightest">
  {% for section in page.sections %}
  <div class="container">
    <div class="wp" id="{{section.id}}"></div>

    <div class="width width--xl">
      <h2 class="title title--xl text--normal">{{section.title}}</h2>
      <p class="text--xl">{{section.content}}</p>
    </div>

    <!-- Highlights -->
    <div class="space--xl">
      <div class="row">
        {% for highlight in section.highlights %}
          <div class="col col--4">
            <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/{{highlight.id}}.jpg);"></div>
            <div class="space--sm">
              <h4 class="title title--xxs text--normal">{{highlight.title}}</h4>
              <p>{{highlight.content}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% include page/promo-competition.html %}
