<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}



    <div class="page-bg" style="background-image: url('{{site.img}}/content/{{page.id}}/banner.jpg')">
      <div class="page-bg__overlay js-overlay-fade" style="opacity: 0.8;"></div>
    </div>

    <div class="overview__banner text--white">
      <div class="site-header__offset"></div>
      <div class="site-nav__offset"></div>

      <div class="container container--no-padding text--center">
        <h1 class="banner-title">{{page.banner.title}}</h1>
      </div>

    </div>



    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>